.body {
    font-family: 'Manrope', system-ui;
    font-style: normal;
    color: #929292;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 300;
    width: fit-content;
    min-width: 550px;
    display: table-row;
}

.gradient {
    /* Gradient does not work in emails */
    background: linear-gradient(45deg, #EA347F 14.66%, #E23080 28.1%, #CC2484 50.02%, #A81189 76.18%, #9A098B 85.37%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    margin-top: 0;
}

h2 {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 8px;
}

.col {
    display: inline-block;
    vertical-align: top;
    display: table-cell;
}

p {
    margin: 0 0 12px;
    font-size: 14px;
    color: #929292;
    line-height: 1.36;
}

.col.left {
    padding-right: 32px;
    width: 140px;
    height: 140px;
}

.col.center {
    padding: 8px 40px 24px 0;
    border-right: 1px solid #92929266;
}

.col.right {
    padding: 0 12px 0 32px;
}

.col.right > div {
    white-space: nowrap;
    display: table-row;
}

.social {
    display: table-cell;
    padding: 0 3px;
}

.social img {
    width: 23px;
    height: 23px;
    padding: 2px;
    box-sizing: border-box;
}

.contact {
    line-height: 20px;
    color: #929292;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 6px;
}

.contact.--last {
    margin-bottom: 0;
}

.contact-img {
    display: inline-block;
    margin-right: 8px;
    width: 20px;
    aspect-ratio: 1/1;
    vertical-align: top;
    vertical-align: 1px;
}

.socials {
    white-space: nowrap;
    display: table-row;
}

.inline-block {
    display: inline-block;
    white-space: nowrap;
}

h2.name {
    width: auto;
    max-width: 145px;
    
    height: 27px;
    line-height: 27px;
    padding: 5px 0;
    box-sizing: border-box;
}

img.portrait {
    max-width: none;
    border-radius: 100%;
    border: 6px solid #fff;
    box-sizing: border-box;
}

img.name__img {
    max-width: 100%;
}

.eventflo {
    margin-top: 16px;
    display: block;
}

.contacts {
    border-spacing: 0 9px;
}

.contacts td:first-child {
    vertical-align: baseline;
}

.block {
    display: block;
    margin-bottom: 2em;
}