
<link rel="stylesheet" href="index.css">

<div id="app">
    <!-- <img src="./design-control.png" class="design-control"> -->

    <div class="block" v-for="{ mugshot, nameText, nameImg, title, tel, email, location } in team" :key="nameText">
        <div class="flex body">
            <div class="col left">
                <img :src="mugshot" :alt="nameText" width="140" height="140" class="portrait">
            </div>
        
            <div class="col center">
                <h2 class="name">
                    {{nameText}}
                </h2>
        
                <p>{{title}}</p>
        
                <div class="socials">
                    <!-- twitter linkedin instagram telegram discord -->
        
                    <a v-for="{ name, link, icon } in socials" :key="name" :href="link" class="social">
                        <img :src="icon"/>
                    </a>            
                </div>
        
                <a href="http://eventflo.io" title="eventflo.io" class="eventflo">
                    <img src="eventflo.png" alt="eventflo.io" width="136" height="20">
                </a>
            </div>
        
            <div class="col right">
                <table class="contacts">
                    <tr>
                        <td>
                            <img src="icons/mail.png" class="contact-img"/>
                        </td>
                        <td>
                            <a class="contact" href="mailto:{{email}}">
                                <div class="inline-block">{{email}}</div>
                            </a>
                        </td>
                    </tr>
            
                    <tr>
                        <td>
                            <img src="icons/phone.png" class="contact-img"/>
                        </td>
                        <td>
                            <a class="contact" :href="'tel:' + tel">
                                <span class="inline-block">{{tel}}</span>
                            </a>
                        </td>
                    </tr>
            
                    <tr>
                        <td>
                            <img src="icons/globe.png" class="contact-img"/>
                        </td>
                        <td>
                            <a class="contact" href="http://eventflo.io">
                                <div class="inline-block">www.eventflo.io</div>
                            </a>
                        </td>
                    </tr>
            
                    <tr>
                        <td>
                            <img src="icons/location.png" class="contact-img"/>
                        </td>
        
                        <td>
                            <a href="https://maps.app.goo.gl/s2MC7JeMpEGd91da7" class="contact --last">
                                <div class="inline-block">{{location}}</div>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="index.js"></script>